*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
#logo{
   width: 150px;
   height: 100px;
}

.navbar-nav ul li{
    font-size: 15px;
}
.nav-item i{
    
    margin-left: 15px;


}
#bosa{
    font-size: 20px;
    font-weight: 800;
   


}

#head h1{
    font-size: 60px;
    font-weight: 1000;
    
   
}
#head h3{
    font-size: 40px;
    font-weight: 1000;
    
   
}
#couple img{
    width: 500px;
    height: 300px;
    
}
#sub h1{
    color: brown;
    font-size: 70px;
    text-align: center;
}
#boo{
    color: brown;
    font-size: 60px;
    font-family: sans-serif;
}
#inp{
    width: 600px;
    height: 20px;
    margin-left: 20px;
    margin-top: 20px;
    
}
#det{
    height: 100px;

    
}
#logo{
    display: flex;
}